* {
  margin: 0;
  padding: 0;
}
body {
  background-color: slategrey;
  max-width: 960px;
  /* min-height: 80vh; */
  margin: 0 auto;

  height: 80vh;
}
.resetBtn {
  margin: 20px auto;
  /* margin-top: 0; */
  font-size: larger;
  padding: 0.5em;

  display: block;

  border-radius: 10px;
}
.squaresContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: inherit;
}

.square:hover {
  background-color: rgb(202, 192, 192);
}

.hovered {
  background-color: rgb(202, 192, 192);
}
